In [235]:
from pyspark.sql import SparkSession
import pyspark.sql.types as types
import pyspark.sql.functions as F

spark = SparkSession.builder.appName("SparkSQL").getOrCreate()
sc = spark.sparkContext
spark

In [240]:
df = spark.read.csv("data/IBM.csv", header=True, inferSchema=True).sample(False, 0.3)

In [241]:
df.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Attrition: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- DistanceFromHome: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- EnvironmentSatisfaction: integer (nullable = true)
 |-- JobSatisfaction: integer (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- MonthlyIncome: integer (nullable = true)
 |-- NumCompaniesWorked: integer (nullable = true)
 |-- WorkLifeBalance: integer (nullable = true)
 |-- YearsAtCompany: integer (nullable = true)

# calculating simple statistics on dataframe

In [352]:
df.describe().show()

df.select("Age", "MonthlyIncome").summary("count", "min", "25%", "75%", "max").show()

df.agg(F.kurtosis("Age"), F.skewness("Age")).show()

+-------+-----------------+---------+---------------+-----------------+------------------+----------------+-----------------------+-----------------+-------------+-----------------+------------------+------------------+-----------------+
|summary|              Age|Attrition|     Department| DistanceFromHome|         Education|  EducationField|EnvironmentSatisfaction|  JobSatisfaction|MaritalStatus|    MonthlyIncome|NumCompaniesWorked|   WorkLifeBalance|   YearsAtCompany|
+-------+-----------------+---------+---------------+-----------------+------------------+----------------+-----------------------+-----------------+-------------+-----------------+------------------+------------------+-----------------+
|  count|              440|      440|            440|              440|               440|             440|                    440|              440|          440|              440|               440|               440|              440|
|   mean|36.85227272727273|     null|           null|8.568181818181818|2.9068181818181817|            null|      2.706818181818182|2.706818181818182|         null|6600.015909090909|2.6227272727272726|2.7181818181818183|7.179545454545455|
| stddev|9.327671831348484|     null|           null|7.854594660384439|1.0204955978701296|            null|     1.0895857663651263|1.089585766365126|         null|4918.177735134272|2.5216026682581414|0.7562263124617901|6.067354654511629|
|    min|               18|       No|Human Resources|                1|                 1| Human Resources|                      1|                1|     Divorced|             1081|                 0|                 1|                0|
|    max|               60|      Yes|          Sales|               29|                 5|Technical Degree|                      4|                4|       Single|            19847|                 9|                 4|               34|
+-------+-----------------+---------+---------------+-----------------+------------------+----------------+-----------------------+-----------------+-------------+-----------------+------------------+------------------+-----------------+

+-------+---+-------------+
|summary|Age|MonthlyIncome|
+-------+---+-------------+
|  count|440|          440|
|    min| 18|         1081|
|    25%| 30|         2862|
|    75%| 42|         8446|
|    max| 60|        19847|
+-------+---+-------------+

+-------------------+------------------+
|      kurtosis(Age)|     skewness(Age)|
+-------------------+------------------+
|-0.3681496319319435|0.4849084942918955|
+-------------------+------------------+

# aggregation on dataframe

In [353]:
aggregations = [
    F.min("Age").alias("MinAge"),
    F.max("Age").alias("MaxAge"),
    F.stddev("Age").alias("StdDevAge"),
    F.avg("Age").alias("AvgAge"),
]

df.agg(*aggregations).show()


df.groupBy("Department","EducationField").count().orderBy("Department").show()

+------+------+-----------------+-----------------+
|MinAge|MaxAge|        StdDevAge|           AvgAge|
+------+------+-----------------+-----------------+
|    18|    60|9.327671831348484|36.85227272727273|
+------+------+-----------------+-----------------+

+--------------------+----------------+-----+
|          Department|  EducationField|count|
+--------------------+----------------+-----+
|     Human Resources|Technical Degree|    3|
|     Human Resources| Human Resources|    8|
|     Human Resources|         Medical|    2|
|     Human Resources|   Life Sciences|    4|
|Research & Develo...|           Other|   19|
|Research & Develo...|Technical Degree|   26|
|Research & Develo...|   Life Sciences|  138|
|Research & Develo...|         Medical|   93|
|               Sales|Technical Degree|   15|
|               Sales|         Medical|   26|
|               Sales|       Marketing|   45|
|               Sales|   Life Sciences|   59|
|               Sales|           Other|    2|
+--------------------+----------------+-----+

# Selecting data from dataframe

In [354]:
# using sql to query dataframe
df.createOrReplaceTempView("sample_df_view")

sqlquery = """
SELECT
    DISTINCT Department, EducationField,
    MIN(MonthlyIncome) OVER (PARTITION BY Department, EducationField) AS MinMonthlyIncome,
    MAX(MonthlyIncome) OVER (PARTITION BY Department, EducationField) AS MaxMonthlyIncome,
    AVG(MonthlyIncome) OVER (PARTITION BY Department, EducationField) AS AvgAMonthlyIncome
FROM sample_df_view
ORDER BY Department , EducationField
"""
spark.sql(sqlquery).show()

+--------------------+----------------+----------------+----------------+------------------+
|          Department|  EducationField|MinMonthlyIncome|MaxMonthlyIncome| AvgAMonthlyIncome|
+--------------------+----------------+----------------+----------------+------------------+
|     Human Resources| Human Resources|            2187|           19141|          8044.125|
|     Human Resources|   Life Sciences|            2064|           14026|           5443.25|
|     Human Resources|         Medical|            2267|           10725|            6496.0|
|     Human Resources|Technical Degree|            2564|            4323|3194.3333333333335|
|Research & Develo...|   Life Sciences|            1393|           19740| 6095.442028985507|
|Research & Develo...|         Medical|            1706|           19701| 6803.193548387097|
|Research & Develo...|           Other|            2544|           19202| 6762.315789473684|
|Research & Develo...|Technical Degree|            1274|           19232| 5078.346153846154|
|               Sales|   Life Sciences|            2220|           19847|7583.5084745762715|
|               Sales|       Marketing|            1790|           19845| 7485.666666666667|
|               Sales|         Medical|            1081|           19517| 6519.307692307692|
|               Sales|           Other|            2121|            8412|            5266.5|
|               Sales|Technical Degree|            2086|           16872|            6440.0|
+--------------------+----------------+----------------+----------------+------------------+

In [356]:
# use select or drop to remove columns
# removing duplicates from dataframe with distinct
df.select("Department","MaritalStatus").distinct()\
    .orderBy("Department","MaritalStatus").show()

+--------------------+-------------+
|          Department|MaritalStatus|
+--------------------+-------------+
|     Human Resources|     Divorced|
|     Human Resources|      Married|
|     Human Resources|       Single|
|Research & Develo...|     Divorced|
|Research & Develo...|      Married|
|Research & Develo...|       Single|
|               Sales|     Divorced|
|               Sales|      Married|
|               Sales|       Single|
+--------------------+-------------+

# joining two dataframes

In [264]:
education = spark.createDataFrame(
    sc.parallelize([
        (1, "Primary"),
        (2, "Secondary"),
        (3, "Tertiary"),
        (4, "PostGraduate"),
        (5, "Doctorate")
        ]),
    schema=["Education", "Desc"])

df.join(education, 
        on = ["Education"],
        how ="left").show(5)

+---------+---+---------+--------------------+----------------+----------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+---------+
|Education|Age|Attrition|          Department|DistanceFromHome|  EducationField|EnvironmentSatisfaction|JobSatisfaction|MaritalStatus|MonthlyIncome|NumCompaniesWorked|WorkLifeBalance|YearsAtCompany|     Desc|
+---------+---+---------+--------------------+----------------+----------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+---------+
|        1| 31|       No|Research & Develo...|              26|   Life Sciences|                      1|              3|     Divorced|         2911|                 1|              2|             5|  Primary|
|        1| 32|      Yes|Research & Develo...|              16|   Life Sciences|                      2|              1|       Single|         3919|                 1|              3|            10|  Primary|
|        3| 39|      Yes|               Sales|               5|Technical Degree|                      4|              4|      Married|         2086|                 3|              4|             1| Tertiary|
|        3| 33|       No|               Sales|               1|   Life Sciences|                      3|              1|      Married|         5376|                 2|              3|             5| Tertiary|
|        2| 24|       No|Research & Develo...|              11|           Other|                      1|              3|     Divorced|         4011|                 0|              2|             4|Secondary|
+---------+---+---------+--------------------+----------------+----------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+---------+
only showing top 5 rows

# Renaming columns

In [328]:
# using select + functions.col and alias
df.select(
    F.col("Age").alias("NewAge"),
    F.col("MonthlyIncome").alias("NewMonthlyIncome")).show(3)

# using withColumnRenamed
df.withColumnRenamed("Age","NewAge").withColumnRenamed("MonthlyIncome","NewMonthlyIncome").show(3)

+------+----------------+
|NewAge|NewMonthlyIncome|
+------+----------------+
|    38|            2406|
|    59|            5473|
|    32|            6220|
+------+----------------+
only showing top 3 rows

+------+---------+--------------------+----------------+---------+--------------+-----------------------+---------------+-------------+----------------+------------------+---------------+--------------+
|NewAge|Attrition|          Department|DistanceFromHome|Education|EducationField|EnvironmentSatisfaction|JobSatisfaction|MaritalStatus|NewMonthlyIncome|NumCompaniesWorked|WorkLifeBalance|YearsAtCompany|
+------+---------+--------------------+----------------+---------+--------------+-----------------------+---------------+-------------+----------------+------------------+---------------+--------------+
|    38|       No|Research & Develo...|              29|        5| Life Sciences|                      4|              4|       Single|            2406|                 1|              3|            10|
|    59|       No|               Sales|               1|        1| Life Sciences|                      1|              3|       Single|            5473|                 7|              2|             4|
|    32|       No|Research & Develo...|               1|        3| Life Sciences|                      2|              2|      Married|            6220|                 1|              3|            10|
+------+---------+--------------------+----------------+---------+--------------+-----------------------+---------------+-------------+----------------+------------------+---------------+--------------+
only showing top 3 rows

# filtering data

In [344]:
# using where
df.where((F.col("Age") > 40) & (F.col("MonthlyIncome")>10000)).show(2)

#using filter with SQL expression
df.filter('Department IN ("Sales","Human Resources")').show(2)

+---+---------+---------------+----------------+---------+---------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+
|Age|Attrition|     Department|DistanceFromHome|Education| EducationField|EnvironmentSatisfaction|JobSatisfaction|MaritalStatus|MonthlyIncome|NumCompaniesWorked|WorkLifeBalance|YearsAtCompany|
+---+---------+---------------+----------------+---------+---------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+
| 55|       No|          Sales|               1|        2|  Life Sciences|                      1|              4|      Married|        10239|                 3|              3|             1|
| 59|       No|Human Resources|               2|        4|Human Resources|                      3|              4|      Married|        18844|                 9|              3|             3|
+---+---------+---------------+----------------+---------+---------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+
only showing top 2 rows

+---+---------+----------+----------------+---------+--------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+
|Age|Attrition|Department|DistanceFromHome|Education|EducationField|EnvironmentSatisfaction|JobSatisfaction|MaritalStatus|MonthlyIncome|NumCompaniesWorked|WorkLifeBalance|YearsAtCompany|
+---+---------+----------+----------------+---------+--------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+
| 59|       No|     Sales|               1|        1| Life Sciences|                      1|              3|       Single|         5473|                 7|              2|             4|
| 55|       No|     Sales|               1|        2| Life Sciences|                      1|              4|      Married|        10239|                 3|              3|             1|
+---+---------+----------+----------------+---------+--------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+
only showing top 2 rows

# Transforming data

In [420]:
sqlquery = """
SELECT
    *,
    AVG(MonthlyIncome) OVER (PARTITION BY Department, EducationField, Education) AS AverageSalary
FROM sample_df_view
ORDER BY Department, EducationField, Education
"""
average_salary = spark.sql(sqlquery)#.show(5)

# addong new columns
# average_salary.withColumn("test", F.col("MonthlyIncome") / 10).show(2)

In [430]:
# registering function with spark sql
spark.udf.register("my_udf", lambda x: x / 10, types.DoubleType())

#testing the function
sqlquery = """
SELECT
    MonthlyIncome,
    my_udf(MonthlyIncome)  AS AverageSalary
FROM sample_df_view
LIMIT 10
"""
average_salary = spark.sql(sqlquery).show(5)

+-------------+-------------+
|MonthlyIncome|AverageSalary|
+-------------+-------------+
|         2406|        240.6|
|         5473|        547.3|
|         6220|        622.0|
|        10239|       1023.9|
|         4325|        432.5|
+-------------+-------------+
only showing top 5 rows

# repartitioning and saving data from dataframe to file

In [426]:
average_salary = average_salary.rdd.repartition(4).toDF()
average_salary.write.mode('overwrite').csv("data/average_salary.csv", header=True)


# rdd.getNumPartitions() # num of partitions
# rdd.repartition(8) # change num of partitions
# rdd.coalesce(1) # change num of partitions without shuffling

In [ ]:
spark.stop()

In [428]:
# %%sh
# git add .
# git commit -m "update"
# git push