In [235]:
from pyspark.sql import SparkSession
import pyspark.sql.types as types
import pyspark.sql.functions as F

spark = SparkSession.builder.appName("SparkSQL").getOrCreate()
sc = spark.sparkContext
spark

In [240]:
df = spark.read.csv("data/IBM.csv", header=True, inferSchema=True).sample(False, 0.3)

In [241]:
df.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Attrition: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- DistanceFromHome: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- EnvironmentSatisfaction: integer (nullable = true)
 |-- JobSatisfaction: integer (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- MonthlyIncome: integer (nullable = true)
 |-- NumCompaniesWorked: integer (nullable = true)
 |-- WorkLifeBalance: integer (nullable = true)
 |-- YearsAtCompany: integer (nullable = true)

# calculating simple statistics on dataframe

In [352]:
df.describe().show()

df.select("Age", "MonthlyIncome").summary("count", "min", "25%", "75%", "max").show()

df.agg(F.kurtosis("Age"), F.skewness("Age")).show()

+-------+-----------------+---------+---------------+-----------------+------------------+----------------+-----------------------+-----------------+-------------+-----------------+------------------+------------------+-----------------+
|summary|              Age|Attrition|     Department| DistanceFromHome|         Education|  EducationField|EnvironmentSatisfaction|  JobSatisfaction|MaritalStatus|    MonthlyIncome|NumCompaniesWorked|   WorkLifeBalance|   YearsAtCompany|
+-------+-----------------+---------+---------------+-----------------+------------------+----------------+-----------------------+-----------------+-------------+-----------------+------------------+------------------+-----------------+
|  count|              440|      440|            440|              440|               440|             440|                    440|              440|          440|              440|               440|               440|              440|
|   mean|36.85227272727273|     null|           null|8.568181818181818|2.9068181818181817|            null|      2.706818181818182|2.706818181818182|         null|6600.015909090909|2.6227272727272726|2.7181818181818183|7.179545454545455|
| stddev|9.327671831348484|     null|           null|7.854594660384439|1.0204955978701296|            null|     1.0895857663651263|1.089585766365126|         null|4918.177735134272|2.5216026682581414|0.7562263124617901|6.067354654511629|
|    min|               18|       No|Human Resources|                1|                 1| Human Resources|                      1|                1|     Divorced|             1081|                 0|                 1|                0|
|    max|               60|      Yes|          Sales|               29|                 5|Technical Degree|                      4|                4|       Single|            19847|                 9|                 4|               34|
+-------+-----------------+---------+---------------+-----------------+------------------+----------------+-----------------------+-----------------+-------------+-----------------+------------------+------------------+-----------------+

+-------+---+-------------+
|summary|Age|MonthlyIncome|
+-------+---+-------------+
|  count|440|          440|
|    min| 18|         1081|
|    25%| 30|         2862|
|    75%| 42|         8446|
|    max| 60|        19847|
+-------+---+-------------+

+-------------------+------------------+
|      kurtosis(Age)|     skewness(Age)|
+-------------------+------------------+
|-0.3681496319319435|0.4849084942918955|
+-------------------+------------------+

# aggregation on dataframe

In [353]:
aggregations = [
    F.min("Age").alias("MinAge"),
    F.max("Age").alias("MaxAge"),
    F.stddev("Age").alias("StdDevAge"),
    F.avg("Age").alias("AvgAge"),
]

df.agg(*aggregations).show()


df.groupBy("Department","EducationField").count().orderBy("Department").show()

+------+------+-----------------+-----------------+
|MinAge|MaxAge|        StdDevAge|           AvgAge|
+------+------+-----------------+-----------------+
|    18|    60|9.327671831348484|36.85227272727273|
+------+------+-----------------+-----------------+

+--------------------+----------------+-----+
|          Department|  EducationField|count|
+--------------------+----------------+-----+
|     Human Resources|Technical Degree|    3|
|     Human Resources| Human Resources|    8|
|     Human Resources|         Medical|    2|
|     Human Resources|   Life Sciences|    4|
|Research & Develo...|           Other|   19|
|Research & Develo...|Technical Degree|   26|
|Research & Develo...|   Life Sciences|  138|
|Research & Develo...|         Medical|   93|
|               Sales|Technical Degree|   15|
|               Sales|         Medical|   26|
|               Sales|       Marketing|   45|
|               Sales|   Life Sciences|   59|
|               Sales|           Other|    2|
+--------------------+----------------+-----+

# Selecting data from dataframe

In [354]:
# using sql to query dataframe
df.createOrReplaceTempView("sample_df_view")

sqlquery = """
SELECT
    DISTINCT Department, EducationField,
    MIN(MonthlyIncome) OVER (PARTITION BY Department, EducationField) AS MinMonthlyIncome,
    MAX(MonthlyIncome) OVER (PARTITION BY Department, EducationField) AS MaxMonthlyIncome,
    AVG(MonthlyIncome) OVER (PARTITION BY Department, EducationField) AS AvgAMonthlyIncome
FROM sample_df_view
ORDER BY Department , EducationField
"""
spark.sql(sqlquery).show()

+--------------------+----------------+----------------+----------------+------------------+
|          Department|  EducationField|MinMonthlyIncome|MaxMonthlyIncome| AvgAMonthlyIncome|
+--------------------+----------------+----------------+----------------+------------------+
|     Human Resources| Human Resources|            2187|           19141|          8044.125|
|     Human Resources|   Life Sciences|            2064|           14026|           5443.25|
|     Human Resources|         Medical|            2267|           10725|            6496.0|
|     Human Resources|Technical Degree|            2564|            4323|3194.3333333333335|
|Research & Develo...|   Life Sciences|            1393|           19740| 6095.442028985507|
|Research & Develo...|         Medical|            1706|           19701| 6803.193548387097|
|Research & Develo...|           Other|            2544|           19202| 6762.315789473684|
|Research & Develo...|Technical Degree|            1274|           19232| 5078.346153846154|
|               Sales|   Life Sciences|            2220|           19847|7583.5084745762715|
|               Sales|       Marketing|            1790|           19845| 7485.666666666667|
|               Sales|         Medical|            1081|           19517| 6519.307692307692|
|               Sales|           Other|            2121|            8412|            5266.5|
|               Sales|Technical Degree|            2086|           16872|            6440.0|
+--------------------+----------------+----------------+----------------+------------------+

In [355]:
# use select or drop to remove columns
df.select("Department","MaritalStatus").distinct()\
    .orderBy("Department","MaritalStatus").show()

+--------------------+-------------+
|          Department|MaritalStatus|
+--------------------+-------------+
|     Human Resources|     Divorced|
|     Human Resources|      Married|
|     Human Resources|       Single|
|Research & Develo...|     Divorced|
|Research & Develo...|      Married|
|Research & Develo...|       Single|
|               Sales|     Divorced|
|               Sales|      Married|
|               Sales|       Single|
+--------------------+-------------+

# joining two dataframes

In [264]:
education = spark.createDataFrame(
    sc.parallelize([
        (1, "Primary"),
        (2, "Secondary"),
        (3, "Tertiary"),
        (4, "PostGraduate"),
        (5, "Doctorate")
        ]),
    schema=["Education", "Desc"])

df.join(education, 
        on = ["Education"],
        how ="left").show(5)

+---------+---+---------+--------------------+----------------+----------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+---------+
|Education|Age|Attrition|          Department|DistanceFromHome|  EducationField|EnvironmentSatisfaction|JobSatisfaction|MaritalStatus|MonthlyIncome|NumCompaniesWorked|WorkLifeBalance|YearsAtCompany|     Desc|
+---------+---+---------+--------------------+----------------+----------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+---------+
|        1| 31|       No|Research & Develo...|              26|   Life Sciences|                      1|              3|     Divorced|         2911|                 1|              2|             5|  Primary|
|        1| 32|      Yes|Research & Develo...|              16|   Life Sciences|                      2|              1|       Single|         3919|                 1|              3|            10|  Primary|
|        3| 39|      Yes|               Sales|               5|Technical Degree|                      4|              4|      Married|         2086|                 3|              4|             1| Tertiary|
|        3| 33|       No|               Sales|               1|   Life Sciences|                      3|              1|      Married|         5376|                 2|              3|             5| Tertiary|
|        2| 24|       No|Research & Develo...|              11|           Other|                      1|              3|     Divorced|         4011|                 0|              2|             4|Secondary|
+---------+---+---------+--------------------+----------------+----------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+---------+
only showing top 5 rows

# Renaming columns

In [328]:
# using select + functions.col and alias
df.select(
    F.col("Age").alias("NewAge"),
    F.col("MonthlyIncome").alias("NewMonthlyIncome")).show(3)

# using withColumnRenamed
df.withColumnRenamed("Age","NewAge").withColumnRenamed("MonthlyIncome","NewMonthlyIncome").show(3)

+------+----------------+
|NewAge|NewMonthlyIncome|
+------+----------------+
|    38|            2406|
|    59|            5473|
|    32|            6220|
+------+----------------+
only showing top 3 rows

+------+---------+--------------------+----------------+---------+--------------+-----------------------+---------------+-------------+----------------+------------------+---------------+--------------+
|NewAge|Attrition|          Department|DistanceFromHome|Education|EducationField|EnvironmentSatisfaction|JobSatisfaction|MaritalStatus|NewMonthlyIncome|NumCompaniesWorked|WorkLifeBalance|YearsAtCompany|
+------+---------+--------------------+----------------+---------+--------------+-----------------------+---------------+-------------+----------------+------------------+---------------+--------------+
|    38|       No|Research & Develo...|              29|        5| Life Sciences|                      4|              4|       Single|            2406|                 1|              3|            10|
|    59|       No|               Sales|               1|        1| Life Sciences|                      1|              3|       Single|            5473|                 7|              2|             4|
|    32|       No|Research & Develo...|               1|        3| Life Sciences|                      2|              2|      Married|            6220|                 1|              3|            10|
+------+---------+--------------------+----------------+---------+--------------+-----------------------+---------------+-------------+----------------+------------------+---------------+--------------+
only showing top 3 rows

# filtering data

In [344]:
# using where
df.where((F.col("Age") > 40) & (F.col("MonthlyIncome")>10000)).show(2)

#using filter with SQL expression
df.filter('Department IN ("Sales","Human Resources")').show(2)

+---+---------+---------------+----------------+---------+---------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+
|Age|Attrition|     Department|DistanceFromHome|Education| EducationField|EnvironmentSatisfaction|JobSatisfaction|MaritalStatus|MonthlyIncome|NumCompaniesWorked|WorkLifeBalance|YearsAtCompany|
+---+---------+---------------+----------------+---------+---------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+
| 55|       No|          Sales|               1|        2|  Life Sciences|                      1|              4|      Married|        10239|                 3|              3|             1|
| 59|       No|Human Resources|               2|        4|Human Resources|                      3|              4|      Married|        18844|                 9|              3|             3|
+---+---------+---------------+----------------+---------+---------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+
only showing top 2 rows

+---+---------+----------+----------------+---------+--------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+
|Age|Attrition|Department|DistanceFromHome|Education|EducationField|EnvironmentSatisfaction|JobSatisfaction|MaritalStatus|MonthlyIncome|NumCompaniesWorked|WorkLifeBalance|YearsAtCompany|
+---+---------+----------+----------------+---------+--------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+
| 59|       No|     Sales|               1|        1| Life Sciences|                      1|              3|       Single|         5473|                 7|              2|             4|
| 55|       No|     Sales|               1|        2| Life Sciences|                      1|              4|      Married|        10239|                 3|              3|             1|
+---+---------+----------+----------------+---------+--------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+
only showing top 2 rows

# Transforming data

In [323]:
# df  = df.rdd.repartition(4).toDF()

# removing duplicates from dataframe

In [295]:
# use select or drop to remove columns

df.select("Department","MaritalStatus").distinct()\
    .orderBy("Department","MaritalStatus").show()

+--------------------+-------------+
|          Department|MaritalStatus|
+--------------------+-------------+
|     Human Resources|     Divorced|
|     Human Resources|      Married|
|     Human Resources|       Single|
|Research & Develo...|     Divorced|
|Research & Develo...|      Married|
|Research & Develo...|       Single|
|               Sales|     Divorced|
|               Sales|      Married|
|               Sales|       Single|
+--------------------+-------------+

In [288]:
sc.parallelize(range(10), 4).collect()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [327]:
df.toPandas().head(3)

,Age,Attrition,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,JobSatisfaction,MaritalStatus,MonthlyIncome,NumCompaniesWorked,WorkLifeBalance,YearsAtCompany
0,38,No,Research & Development,29,5,Life Sciences,4,4,Single,2406,1,3,10
1,59,No,Sales,1,1,Life Sciences,1,3,Single,5473,7,2,4
2,32,No,Research & Development,1,3,Life Sciences,2,2,Married,6220,1,3,10

In [140]:
%%sh

pip list

Package                         Version
------------------------------- ---------
apache-beam                     2.48.0
appdirs                         1.4.4
appnope                         0.1.3
asttokens                       2.2.1
backcall                        0.2.0
backports.functools-lru-cache   1.6.4
blis                            0.7.7
Bottleneck                      1.3.5
brotlipy                        0.7.0
cachetools                      5.3.1
catalogue                       2.0.7
certifi                         2022.12.7
cffi                            1.15.1
charset-normalizer              2.0.4
click                           8.0.4
cloudpickle                     2.2.1
colorama                        0.4.6
comm                            0.1.2
contourpy                       1.0.5
crcmod                          1.7
cryptography                    39.0.1
cycler                          0.11.0
cymem                           2.0.6
debugpy                         1.6.6
decorator                       5.1.1
dill                            0.3.1.1
dnspython                       2.3.0
docopt                          0.6.2
en-core-web-sm                  3.3.0
executing                       1.2.0
facets-overview                 1.1.1
fastavro                        1.7.4
fasteners                       0.18
fonttools                       4.25.0
future                          0.18.3
google-api-core                 2.11.1
google-api-python-client        2.90.0
google-apitools                 0.5.31
google-auth                     2.20.0
google-auth-httplib2            0.1.0
google-cloud                    0.34.0
google-cloud-bigquery           3.11.2
google-cloud-bigquery-storage   2.20.0
google-cloud-bigtable           2.17.0
google-cloud-core               2.3.2
google-cloud-dataproc           5.4.1
google-cloud-datastore          2.16.0
google-cloud-dlp                3.12.1
google-cloud-language           2.10.0
google-cloud-pubsub             2.17.1
google-cloud-pubsublite         1.8.2
google-cloud-recommendations-ai 0.10.3
google-cloud-spanner            3.36.0
google-cloud-storage            2.9.0
google-cloud-videointelligence  2.11.2
google-cloud-vision             3.4.3
google-crc32c                   1.5.0
google-resumable-media          2.5.0
googleapis-common-protos        1.59.1
graphviz                        0.20.1
grpc-google-iam-v1              0.12.6
grpcio                          1.56.0
grpcio-status                   1.56.0
hdfs                            2.7.0
httplib2                        0.22.0
idna                            3.4
importlib-metadata              6.0.0
importlib-resources             5.2.0
ipykernel                       6.21.1
ipython                         8.9.0
ipywidgets                      8.0.6
jedi                            0.18.2
Jinja2                          3.1.2
joblib                          1.1.1
jupyter_client                  8.0.2
jupyter_core                    5.2.0
jupyterlab-widgets              3.0.7
kiwisolver                      1.4.4
langcodes                       3.3.0
MarkupSafe                      2.1.1
matplotlib                      3.7.0
matplotlib-inline               0.1.6
mkl-fft                         1.3.1
mkl-random                      1.2.2
mkl-service                     2.4.0
munkres                         1.1.4
murmurhash                      1.0.7
nest-asyncio                    1.5.6
nltk                            3.7
numexpr                         2.8.4
numpy                           1.23.5
oauth2client                    4.1.3
objsize                         0.6.1
opencv-python                   4.7.0.68
orjson                          3.9.1
overrides                       6.5.0
packaging                       23.0
pandas                          1.5.3
parso                           0.8.3
pathy                           0.10.1
pexpect                         4.8.0
pickleshare                     0.7.5
Pillow                          9.4.0
pip                             23.1.2
platformdirs                    2.6.2
pooch                           1.4.0
preshed                         3.0.6
prompt-toolkit                  3.0.36
proto-plus                      1.22.3
protobuf                        4.23.3
psutil                          5.9.4
ptyprocess                      0.7.0
pure-eval                       0.2.2
py4j                            0.10.9.5
pyarrow                         11.0.0
pyasn1                          0.5.0
pyasn1-modules                  0.3.0
pycparser                       2.21
pydantic                        1.8.2
pydot                           1.4.2
Pygments                        2.14.0
pymongo                         4.4.0
pyOpenSSL                       23.0.0
pyparsing                       3.0.9
PySocks                         1.7.1
pyspark                         3.3.1
python-consul                   1.1.0
python-dateutil                 2.8.2
pytz                            2022.7.1
PyYAML                          6.0
pyzmq                           25.0.0
regex                           2022.7.9
requests                        2.28.1
rsa                             4.9
scikit-learn                    1.2.1
scipy                           1.10.0
seaborn                         0.12.2
setuptools                      65.6.3
shellingham                     1.5.0
six                             1.16.0
smart-open                      5.2.1
spacy                           3.3.1
spacy-legacy                    3.0.9
spacy-loggers                   1.0.1
sqlparse                        0.4.4
srsly                           2.4.6
stack-data                      0.6.2
thinc                           8.0.15
threadpoolctl                   2.2.0
timeloop                        1.0.2
torch                           1.12.1
tornado                         6.2
tqdm                            4.65.0
traitlets                       5.9.0
typer                           0.4.1
typing_extensions               4.4.0
uritemplate                     4.1.1
urllib3                         1.26.14
wasabi                          0.9.1
wcwidth                         0.2.6
wheel                           0.37.1
widgetsnbextension              4.0.7
xlrd                            2.0.1
zipp                            3.12.0
zstandard                       0.21.0

In [153]:
spark.stop()

In [183]:
# rdd.getNumPartitions() # num of partitions
# rdd.repartition(8) # change num of partitions
# rdd.coalesce(1) # change num of partitions without shuffling