In [6]:
from pyspark.sql import SparkSession
import numpy as np

spark = SparkSession.builder.appName("SparkSQL").getOrCreate()
spark

In [49]:
# reading csv
spark.read.csv("data/IBM.csv", header=True).show(2)

+---+---------+--------------------+----------------+---------+--------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+
|Age|Attrition|          Department|DistanceFromHome|Education|EducationField|EnvironmentSatisfaction|JobSatisfaction|MaritalStatus|MonthlyIncome|NumCompaniesWorked|WorkLifeBalance|YearsAtCompany|
+---+---------+--------------------+----------------+---------+--------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+
| 41|      Yes|               Sales|               1|        2| Life Sciences|                      2|              4|       Single|         5993|                 8|              1|             6|
| 49|       No|Research & Develo...|               8|        1| Life Sciences|                      3|              2|      Married|         5130|                 1|              3|            10|
+---+---------+--------------------+----------------+---------+--------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+
only showing top 2 rows

In [48]:
# reading text file
spark.sparkContext.textFile("data/IBM.csv", 4).take(2)

['Age,Attrition,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,JobSatisfaction,MaritalStatus,MonthlyIncome,NumCompaniesWorked,WorkLifeBalance,YearsAtCompany',
 '41,Yes,Sales,1,2,Life Sciences,2,4,Single,5993,8,1,6']