In [235]:
from pyspark.sql import SparkSession
import pyspark.sql.types as types
import pyspark.sql.functions as F

spark = SparkSession.builder.appName("SparkSQL").getOrCreate()
sc = spark.sparkContext
spark

In [240]:
df = spark.read.csv("data/IBM.csv", header=True, inferSchema=True).sample(False, 0.3)

In [241]:
df.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Attrition: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- DistanceFromHome: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- EnvironmentSatisfaction: integer (nullable = true)
 |-- JobSatisfaction: integer (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- MonthlyIncome: integer (nullable = true)
 |-- NumCompaniesWorked: integer (nullable = true)
 |-- WorkLifeBalance: integer (nullable = true)
 |-- YearsAtCompany: integer (nullable = true)

# calculating simple statistics on dataframe

In [352]:
df.describe().show()

df.select("Age", "MonthlyIncome").summary("count", "min", "25%", "75%", "max").show()

df.agg(F.kurtosis("Age"), F.skewness("Age")).show()

+-------+-----------------+---------+---------------+-----------------+------------------+----------------+-----------------------+-----------------+-------------+-----------------+------------------+------------------+-----------------+
|summary|              Age|Attrition|     Department| DistanceFromHome|         Education|  EducationField|EnvironmentSatisfaction|  JobSatisfaction|MaritalStatus|    MonthlyIncome|NumCompaniesWorked|   WorkLifeBalance|   YearsAtCompany|
+-------+-----------------+---------+---------------+-----------------+------------------+----------------+-----------------------+-----------------+-------------+-----------------+------------------+------------------+-----------------+
|  count|              440|      440|            440|              440|               440|             440|                    440|              440|          440|              440|               440|               440|              440|
|   mean|36.85227272727273|     null|           null|8.568181818181818|2.9068181818181817|            null|      2.706818181818182|2.706818181818182|         null|6600.015909090909|2.6227272727272726|2.7181818181818183|7.179545454545455|
| stddev|9.327671831348484|     null|           null|7.854594660384439|1.0204955978701296|            null|     1.0895857663651263|1.089585766365126|         null|4918.177735134272|2.5216026682581414|0.7562263124617901|6.067354654511629|
|    min|               18|       No|Human Resources|                1|                 1| Human Resources|                      1|                1|     Divorced|             1081|                 0|                 1|                0|
|    max|               60|      Yes|          Sales|               29|                 5|Technical Degree|                      4|                4|       Single|            19847|                 9|                 4|               34|
+-------+-----------------+---------+---------------+-----------------+------------------+----------------+-----------------------+-----------------+-------------+-----------------+------------------+------------------+-----------------+

+-------+---+-------------+
|summary|Age|MonthlyIncome|
+-------+---+-------------+
|  count|440|          440|
|    min| 18|         1081|
|    25%| 30|         2862|
|    75%| 42|         8446|
|    max| 60|        19847|
+-------+---+-------------+

+-------------------+------------------+
|      kurtosis(Age)|     skewness(Age)|
+-------------------+------------------+
|-0.3681496319319435|0.4849084942918955|
+-------------------+------------------+

# aggregation on dataframe

In [353]:
aggregations = [
    F.min("Age").alias("MinAge"),
    F.max("Age").alias("MaxAge"),
    F.stddev("Age").alias("StdDevAge"),
    F.avg("Age").alias("AvgAge"),
]

df.agg(*aggregations).show()


df.groupBy("Department","EducationField").count().orderBy("Department").show()

+------+------+-----------------+-----------------+
|MinAge|MaxAge|        StdDevAge|           AvgAge|
+------+------+-----------------+-----------------+
|    18|    60|9.327671831348484|36.85227272727273|
+------+------+-----------------+-----------------+

+--------------------+----------------+-----+
|          Department|  EducationField|count|
+--------------------+----------------+-----+
|     Human Resources|Technical Degree|    3|
|     Human Resources| Human Resources|    8|
|     Human Resources|         Medical|    2|
|     Human Resources|   Life Sciences|    4|
|Research & Develo...|           Other|   19|
|Research & Develo...|Technical Degree|   26|
|Research & Develo...|   Life Sciences|  138|
|Research & Develo...|         Medical|   93|
|               Sales|Technical Degree|   15|
|               Sales|         Medical|   26|
|               Sales|       Marketing|   45|
|               Sales|   Life Sciences|   59|
|               Sales|           Other|    2|
+--------------------+----------------+-----+

# Selecting data from dataframe

In [354]:
# using sql to query dataframe
df.createOrReplaceTempView("sample_df_view")

sqlquery = """
SELECT
    DISTINCT Department, EducationField,
    MIN(MonthlyIncome) OVER (PARTITION BY Department, EducationField) AS MinMonthlyIncome,
    MAX(MonthlyIncome) OVER (PARTITION BY Department, EducationField) AS MaxMonthlyIncome,
    AVG(MonthlyIncome) OVER (PARTITION BY Department, EducationField) AS AvgAMonthlyIncome
FROM sample_df_view
ORDER BY Department , EducationField
"""
spark.sql(sqlquery).show()

+--------------------+----------------+----------------+----------------+------------------+
|          Department|  EducationField|MinMonthlyIncome|MaxMonthlyIncome| AvgAMonthlyIncome|
+--------------------+----------------+----------------+----------------+------------------+
|     Human Resources| Human Resources|            2187|           19141|          8044.125|
|     Human Resources|   Life Sciences|            2064|           14026|           5443.25|
|     Human Resources|         Medical|            2267|           10725|            6496.0|
|     Human Resources|Technical Degree|            2564|            4323|3194.3333333333335|
|Research & Develo...|   Life Sciences|            1393|           19740| 6095.442028985507|
|Research & Develo...|         Medical|            1706|           19701| 6803.193548387097|
|Research & Develo...|           Other|            2544|           19202| 6762.315789473684|
|Research & Develo...|Technical Degree|            1274|           19232| 5078.346153846154|
|               Sales|   Life Sciences|            2220|           19847|7583.5084745762715|
|               Sales|       Marketing|            1790|           19845| 7485.666666666667|
|               Sales|         Medical|            1081|           19517| 6519.307692307692|
|               Sales|           Other|            2121|            8412|            5266.5|
|               Sales|Technical Degree|            2086|           16872|            6440.0|
+--------------------+----------------+----------------+----------------+------------------+

In [356]:
# use select or drop to remove columns
# removing duplicates from dataframe with distinct
df.select("Department","MaritalStatus").distinct()\
    .orderBy("Department","MaritalStatus").show()

+--------------------+-------------+
|          Department|MaritalStatus|
+--------------------+-------------+
|     Human Resources|     Divorced|
|     Human Resources|      Married|
|     Human Resources|       Single|
|Research & Develo...|     Divorced|
|Research & Develo...|      Married|
|Research & Develo...|       Single|
|               Sales|     Divorced|
|               Sales|      Married|
|               Sales|       Single|
+--------------------+-------------+

# joining two dataframes

In [264]:
education = spark.createDataFrame(
    sc.parallelize([
        (1, "Primary"),
        (2, "Secondary"),
        (3, "Tertiary"),
        (4, "PostGraduate"),
        (5, "Doctorate")
        ]),
    schema=["Education", "Desc"])

df.join(education, 
        on = ["Education"],
        how ="left").show(5)

+---------+---+---------+--------------------+----------------+----------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+---------+
|Education|Age|Attrition|          Department|DistanceFromHome|  EducationField|EnvironmentSatisfaction|JobSatisfaction|MaritalStatus|MonthlyIncome|NumCompaniesWorked|WorkLifeBalance|YearsAtCompany|     Desc|
+---------+---+---------+--------------------+----------------+----------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+---------+
|        1| 31|       No|Research & Develo...|              26|   Life Sciences|                      1|              3|     Divorced|         2911|                 1|              2|             5|  Primary|
|        1| 32|      Yes|Research & Develo...|              16|   Life Sciences|                      2|              1|       Single|         3919|                 1|              3|            10|  Primary|
|        3| 39|      Yes|               Sales|               5|Technical Degree|                      4|              4|      Married|         2086|                 3|              4|             1| Tertiary|
|        3| 33|       No|               Sales|               1|   Life Sciences|                      3|              1|      Married|         5376|                 2|              3|             5| Tertiary|
|        2| 24|       No|Research & Develo...|              11|           Other|                      1|              3|     Divorced|         4011|                 0|              2|             4|Secondary|
+---------+---+---------+--------------------+----------------+----------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+---------+
only showing top 5 rows

# Renaming columns

In [328]:
# using select + functions.col and alias
df.select(
    F.col("Age").alias("NewAge"),
    F.col("MonthlyIncome").alias("NewMonthlyIncome")).show(3)

# using withColumnRenamed
df.withColumnRenamed("Age","NewAge").withColumnRenamed("MonthlyIncome","NewMonthlyIncome").show(3)

+------+----------------+
|NewAge|NewMonthlyIncome|
+------+----------------+
|    38|            2406|
|    59|            5473|
|    32|            6220|
+------+----------------+
only showing top 3 rows

+------+---------+--------------------+----------------+---------+--------------+-----------------------+---------------+-------------+----------------+------------------+---------------+--------------+
|NewAge|Attrition|          Department|DistanceFromHome|Education|EducationField|EnvironmentSatisfaction|JobSatisfaction|MaritalStatus|NewMonthlyIncome|NumCompaniesWorked|WorkLifeBalance|YearsAtCompany|
+------+---------+--------------------+----------------+---------+--------------+-----------------------+---------------+-------------+----------------+------------------+---------------+--------------+
|    38|       No|Research & Develo...|              29|        5| Life Sciences|                      4|              4|       Single|            2406|                 1|              3|            10|
|    59|       No|               Sales|               1|        1| Life Sciences|                      1|              3|       Single|            5473|                 7|              2|             4|
|    32|       No|Research & Develo...|               1|        3| Life Sciences|                      2|              2|      Married|            6220|                 1|              3|            10|
+------+---------+--------------------+----------------+---------+--------------+-----------------------+---------------+-------------+----------------+------------------+---------------+--------------+
only showing top 3 rows

# filtering data

In [344]:
# using where
df.where((F.col("Age") > 40) & (F.col("MonthlyIncome")>10000)).show(2)

#using filter with SQL expression
df.filter('Department IN ("Sales","Human Resources")').show(2)

+---+---------+---------------+----------------+---------+---------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+
|Age|Attrition|     Department|DistanceFromHome|Education| EducationField|EnvironmentSatisfaction|JobSatisfaction|MaritalStatus|MonthlyIncome|NumCompaniesWorked|WorkLifeBalance|YearsAtCompany|
+---+---------+---------------+----------------+---------+---------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+
| 55|       No|          Sales|               1|        2|  Life Sciences|                      1|              4|      Married|        10239|                 3|              3|             1|
| 59|       No|Human Resources|               2|        4|Human Resources|                      3|              4|      Married|        18844|                 9|              3|             3|
+---+---------+---------------+----------------+---------+---------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+
only showing top 2 rows

+---+---------+----------+----------------+---------+--------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+
|Age|Attrition|Department|DistanceFromHome|Education|EducationField|EnvironmentSatisfaction|JobSatisfaction|MaritalStatus|MonthlyIncome|NumCompaniesWorked|WorkLifeBalance|YearsAtCompany|
+---+---------+----------+----------------+---------+--------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+
| 59|       No|     Sales|               1|        1| Life Sciences|                      1|              3|       Single|         5473|                 7|              2|             4|
| 55|       No|     Sales|               1|        2| Life Sciences|                      1|              4|      Married|        10239|                 3|              3|             1|
+---+---------+----------+----------------+---------+--------------+-----------------------+---------------+-------------+-------------+------------------+---------------+--------------+
only showing top 2 rows

# Transforming data

In [420]:
sqlquery = """
SELECT
    *,
    AVG(MonthlyIncome) OVER (PARTITION BY Department, EducationField, Education) AS AverageSalary
FROM sample_df_view
ORDER BY Department, EducationField, Education
"""
average_salary = spark.sql(sqlquery)#.show(5)

# addong new columns
# average_salary.withColumn("test", F.col("MonthlyIncome") / 10).show(2)

In [ ]:
# registering function with spark sql
spark.udf.register("my_udf", lambda x: x / 10, types.DoubleType())

In [418]:
sqlquery = """
SELECT
    MonthlyIncome,
    my_udf(MonthlyIncome)  AS AverageSalary
FROM sample_df_view
LIMIT 10
"""
average_salary = spark.sql(sqlquery).show(5)

+-------------+-------------+
|MonthlyIncome|AverageSalary|
+-------------+-------------+
|         2406|        240.6|
|         5473|        547.3|
|         6220|        622.0|
|        10239|       1023.9|
|         4325|        432.5|
+-------------+-------------+
only showing top 5 rows

# repartitioning and saving data from dataframe to file

In [426]:
average_salary  = average_salary.rdd.repartition(4).toDF()
average_salary.rdd.getNumPartitions()
average_salary.write.mode('overwrite').csv("data/average_salary.csv", header=True)

In [425]:
help(average_salary)

Help on DataFrame in module pyspark.sql.dataframe object:

class DataFrame(pyspark.sql.pandas.map_ops.PandasMapOpsMixin, pyspark.sql.pandas.conversion.PandasConversionMixin)
 |  DataFrame(jdf: py4j.java_gateway.JavaObject, sql_ctx: Union[ForwardRef('SQLContext'), ForwardRef('SparkSession')])
 |
 |  A distributed collection of data grouped into named columns.
 |
 |  A :class:`DataFrame` is equivalent to a relational table in Spark SQL,
 |  and can be created using various functions in :class:`SparkSession`::
 |
 |      people = spark.read.parquet("...")
 |
 |  Once created, it can be manipulated using the various domain-specific-language
 |  (DSL) functions defined in: :class:`DataFrame`, :class:`Column`.
 |
 |  To select a column from the :class:`DataFrame`, use the apply method::
 |
 |      ageCol = people.age
 |
 |  A more concrete example::
 |
 |      # To create DataFrame using SparkSession
 |      people = spark.read.parquet("...")
 |      department = spark.read.parquet("...")
 |
 |      people.filter(people.age > 30).join(department, people.deptId == department.id) \
 |        .groupBy(department.name, "gender").agg({"salary": "avg", "age": "max"})
 |
 |  .. versionadded:: 1.3.0
 |
 |  .. note: A DataFrame should only be created as described above. It should not be directly
 |      created via using the constructor.
 |
 |  Method resolution order:
 |      DataFrame
 |      pyspark.sql.pandas.map_ops.PandasMapOpsMixin
 |      pyspark.sql.pandas.conversion.PandasConversionMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __getattr__(self, name: str) -> pyspark.sql.column.Column
 |      Returns the :class:`Column` denoted by ``name``.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.select(df.age).collect()
 |      [Row(age=2), Row(age=5)]
 |
 |  __getitem__(self, item: Union[int, str, pyspark.sql.column.Column, List, Tuple]) -> Union[pyspark.sql.column.Column, ForwardRef('DataFrame')]
 |      Returns the column as a :class:`Column`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.select(df['age']).collect()
 |      [Row(age=2), Row(age=5)]
 |      >>> df[ ["name", "age"]].collect()
 |      [Row(name='Alice', age=2), Row(name='Bob', age=5)]
 |      >>> df[ df.age > 3 ].collect()
 |      [Row(age=5, name='Bob')]
 |      >>> df[df[0] > 3].collect()
 |      [Row(age=5, name='Bob')]
 |
 |  __init__(self, jdf: py4j.java_gateway.JavaObject, sql_ctx: Union[ForwardRef('SQLContext'), ForwardRef('SparkSession')])
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __repr__(self) -> str
 |      Return repr(self).
 |
 |  agg(self, *exprs: Union[pyspark.sql.column.Column, Dict[str, str]]) -> 'DataFrame'
 |      Aggregate on the entire :class:`DataFrame` without groups
 |      (shorthand for ``df.groupBy().agg()``).
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.agg({"age": "max"}).collect()
 |      [Row(max(age)=5)]
 |      >>> from pyspark.sql import functions as F
 |      >>> df.agg(F.min(df.age)).collect()
 |      [Row(min(age)=2)]
 |
 |  alias(self, alias: str) -> 'DataFrame'
 |      Returns a new :class:`DataFrame` with an alias set.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Parameters
 |      ----------
 |      alias : str
 |          an alias name to be set for the :class:`DataFrame`.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql.functions import *
 |      >>> df_as1 = df.alias("df_as1")
 |      >>> df_as2 = df.alias("df_as2")
 |      >>> joined_df = df_as1.join(df_as2, col("df_as1.name") == col("df_as2.name"), 'inner')
 |      >>> joined_df.select("df_as1.name", "df_as2.name", "df_as2.age")                 .sort(desc("df_as1.name")).collect()
 |      [Row(name='Bob', name='Bob', age=5), Row(name='Alice', name='Alice', age=2)]
 |
 |  approxQuantile(self, col: Union[str, List[str], Tuple[str]], probabilities: Union[List[float], Tuple[float]], relativeError: float) -> Union[List[float], List[List[float]]]
 |      Calculates the approximate quantiles of numerical columns of a
 |      :class:`DataFrame`.
 |
 |      The result of this algorithm has the following deterministic bound:
 |      If the :class:`DataFrame` has N elements and if we request the quantile at
 |      probability `p` up to error `err`, then the algorithm will return
 |      a sample `x` from the :class:`DataFrame` so that the *exact* rank of `x` is
 |      close to (p * N). More precisely,
 |
 |        floor((p - err) * N) <= rank(x) <= ceil((p + err) * N).
 |
 |      This method implements a variation of the Greenwald-Khanna
 |      algorithm (with some speed optimizations). The algorithm was first
 |      present in [[https://doi.org/10.1145/375663.375670
 |      Space-efficient Online Computation of Quantile Summaries]]
 |      by Greenwald and Khanna.
 |
 |      Note that null values will be ignored in numerical columns before calculation.
 |      For columns only containing null values, an empty list is returned.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Parameters
 |      ----------
 |      col: str, tuple or list
 |          Can be a single column name, or a list of names for multiple columns.
 |
 |          .. versionchanged:: 2.2
 |             Added support for multiple columns.
 |      probabilities : list or tuple
 |          a list of quantile probabilities
 |          Each number must belong to [0, 1].
 |          For example 0 is the minimum, 0.5 is the median, 1 is the maximum.
 |      relativeError : float
 |          The relative target precision to achieve
 |          (>= 0). If set to zero, the exact quantiles are computed, which
 |          could be very expensive. Note that values greater than 1 are
 |          accepted but give the same result as 1.
 |
 |      Returns
 |      -------
 |      list
 |          the approximate quantiles at the given probabilities. If
 |          the input `col` is a string, the output is a list of floats. If the
 |          input `col` is a list or tuple of strings, the output is also a
 |          list, but each element in it is a list of floats, i.e., the output
 |          is a list of list of floats.
 |
 |  cache(self) -> 'DataFrame'
 |      Persists the :class:`DataFrame` with the default storage level (`MEMORY_AND_DISK`).
 |
 |      .. versionadded:: 1.3.0
 |
 |      Notes
 |      -----
 |      The default storage level has changed to `MEMORY_AND_DISK` to match Scala in 2.0.
 |
 |  checkpoint(self, eager: bool = True) -> 'DataFrame'
 |      Returns a checkpointed version of this :class:`DataFrame`. Checkpointing can be used to
 |      truncate the logical plan of this :class:`DataFrame`, which is especially useful in
 |      iterative algorithms where the plan may grow exponentially. It will be saved to files
 |      inside the checkpoint directory set with :meth:`SparkContext.setCheckpointDir`.
 |
 |      .. versionadded:: 2.1.0
 |
 |      Parameters
 |      ----------
 |      eager : bool, optional
 |          Whether to checkpoint this :class:`DataFrame` immediately
 |
 |      Notes
 |      -----
 |      This API is experimental.
 |
 |  coalesce(self, numPartitions: int) -> 'DataFrame'
 |      Returns a new :class:`DataFrame` that has exactly `numPartitions` partitions.
 |
 |      Similar to coalesce defined on an :class:`RDD`, this operation results in a
 |      narrow dependency, e.g. if you go from 1000 partitions to 100 partitions,
 |      there will not be a shuffle, instead each of the 100 new partitions will
 |      claim 10 of the current partitions. If a larger number of partitions is requested,
 |      it will stay at the current number of partitions.
 |
 |      However, if you're doing a drastic coalesce, e.g. to numPartitions = 1,
 |      this may result in your computation taking place on fewer nodes than
 |      you like (e.g. one node in the case of numPartitions = 1). To avoid this,
 |      you can call repartition(). This will add a shuffle step, but means the
 |      current upstream partitions will be executed in parallel (per whatever
 |      the current partitioning is).
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      numPartitions : int
 |          specify the target number of partitions
 |
 |      Examples
 |      --------
 |      >>> df.coalesce(1).rdd.getNumPartitions()
 |      1
 |
 |  colRegex(self, colName: str) -> pyspark.sql.column.Column
 |      Selects column based on the column name specified as a regex and returns it
 |      as :class:`Column`.
 |
 |      .. versionadded:: 2.3.0
 |
 |      Parameters
 |      ----------
 |      colName : str
 |          string, column name specified as a regex.
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame([("a", 1), ("b", 2), ("c",  3)], ["Col1", "Col2"])
 |      >>> df.select(df.colRegex("`(Col1)?+.+`")).show()
 |      +----+
 |      |Col2|
 |      +----+
 |      |   1|
 |      |   2|
 |      |   3|
 |      +----+
 |
 |  collect(self) -> List[pyspark.sql.types.Row]
 |      Returns all the records as a list of :class:`Row`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.collect()
 |      [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
 |
 |  corr(self, col1: str, col2: str, method: Optional[str] = None) -> float
 |      Calculates the correlation of two columns of a :class:`DataFrame` as a double value.
 |      Currently only supports the Pearson Correlation Coefficient.
 |      :func:`DataFrame.corr` and :func:`DataFrameStatFunctions.corr` are aliases of each other.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      col1 : str
 |          The name of the first column
 |      col2 : str
 |          The name of the second column
 |      method : str, optional
 |          The correlation method. Currently only supports "pearson"
 |
 |  count(self) -> int
 |      Returns the number of rows in this :class:`DataFrame`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.count()
 |      2
 |
 |  cov(self, col1: str, col2: str) -> float
 |      Calculate the sample covariance for the given columns, specified by their names, as a
 |      double value. :func:`DataFrame.cov` and :func:`DataFrameStatFunctions.cov` are aliases.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      col1 : str
 |          The name of the first column
 |      col2 : str
 |          The name of the second column
 |
 |  createGlobalTempView(self, name: str) -> None
 |      Creates a global temporary view with this :class:`DataFrame`.
 |
 |      The lifetime of this temporary view is tied to this Spark application.
 |      throws :class:`TempTableAlreadyExistsException`, if the view name already exists in the
 |      catalog.
 |
 |      .. versionadded:: 2.1.0
 |
 |      Examples
 |      --------
 |      >>> df.createGlobalTempView("people")
 |      >>> df2 = spark.sql("select * from global_temp.people")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |      >>> df.createGlobalTempView("people")  # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |      ...
 |      AnalysisException: u"Temporary table 'people' already exists;"
 |      >>> spark.catalog.dropGlobalTempView("people")
 |      True
 |
 |  createOrReplaceGlobalTempView(self, name: str) -> None
 |      Creates or replaces a global temporary view using the given name.
 |
 |      The lifetime of this temporary view is tied to this Spark application.
 |
 |      .. versionadded:: 2.2.0
 |
 |      Examples
 |      --------
 |      >>> df.createOrReplaceGlobalTempView("people")
 |      >>> df2 = df.filter(df.age > 3)
 |      >>> df2.createOrReplaceGlobalTempView("people")
 |      >>> df3 = spark.sql("select * from global_temp.people")
 |      >>> sorted(df3.collect()) == sorted(df2.collect())
 |      True
 |      >>> spark.catalog.dropGlobalTempView("people")
 |      True
 |
 |  createOrReplaceTempView(self, name: str) -> None
 |      Creates or replaces a local temporary view with this :class:`DataFrame`.
 |
 |      The lifetime of this temporary table is tied to the :class:`SparkSession`
 |      that was used to create this :class:`DataFrame`.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Examples
 |      --------
 |      >>> df.createOrReplaceTempView("people")
 |      >>> df2 = df.filter(df.age > 3)
 |      >>> df2.createOrReplaceTempView("people")
 |      >>> df3 = spark.sql("select * from people")
 |      >>> sorted(df3.collect()) == sorted(df2.collect())
 |      True
 |      >>> spark.catalog.dropTempView("people")
 |      True
 |
 |  createTempView(self, name: str) -> None
 |      Creates a local temporary view with this :class:`DataFrame`.
 |
 |      The lifetime of this temporary table is tied to the :class:`SparkSession`
 |      that was used to create this :class:`DataFrame`.
 |      throws :class:`TempTableAlreadyExistsException`, if the view name already exists in the
 |      catalog.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Examples
 |      --------
 |      >>> df.createTempView("people")
 |      >>> df2 = spark.sql("select * from people")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |      >>> df.createTempView("people")  # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |      ...
 |      AnalysisException: u"Temporary table 'people' already exists;"
 |      >>> spark.catalog.dropTempView("people")
 |      True
 |
 |  crossJoin(self, other: 'DataFrame') -> 'DataFrame'
 |      Returns the cartesian product with another :class:`DataFrame`.
 |
 |      .. versionadded:: 2.1.0
 |
 |      Parameters
 |      ----------
 |      other : :class:`DataFrame`
 |          Right side of the cartesian product.
 |
 |      Examples
 |      --------
 |      >>> df.select("age", "name").collect()
 |      [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
 |      >>> df2.select("name", "height").collect()
 |      [Row(name='Tom', height=80), Row(name='Bob', height=85)]
 |      >>> df.crossJoin(df2.select("height")).select("age", "name", "height").collect()
 |      [Row(age=2, name='Alice', height=80), Row(age=2, name='Alice', height=85),
 |       Row(age=5, name='Bob', height=80), Row(age=5, name='Bob', height=85)]
 |
 |  crosstab(self, col1: str, col2: str) -> 'DataFrame'
 |      Computes a pair-wise frequency table of the given columns. Also known as a contingency
 |      table. The number of distinct values for each column should be less than 1e4. At most 1e6
 |      non-zero pair frequencies will be returned.
 |      The first column of each row will be the distinct values of `col1` and the column names
 |      will be the distinct values of `col2`. The name of the first column will be `$col1_$col2`.
 |      Pairs that have no occurrences will have zero as their counts.
 |      :func:`DataFrame.crosstab` and :func:`DataFrameStatFunctions.crosstab` are aliases.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      col1 : str
 |          The name of the first column. Distinct items will make the first item of
 |          each row.
 |      col2 : str
 |          The name of the second column. Distinct items will make the column names
 |          of the :class:`DataFrame`.
 |
 |  cube(self, *cols: 'ColumnOrName') -> 'GroupedData'
 |      Create a multi-dimensional cube for the current :class:`DataFrame` using
 |      the specified columns, so we can run aggregations on them.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Examples
 |      --------
 |      >>> df.cube("name", df.age).count().orderBy("name", "age").show()
 |      +-----+----+-----+
 |      | name| age|count|
 |      +-----+----+-----+
 |      | null|null|    2|
 |      | null|   2|    1|
 |      | null|   5|    1|
 |      |Alice|null|    1|
 |      |Alice|   2|    1|
 |      |  Bob|null|    1|
 |      |  Bob|   5|    1|
 |      +-----+----+-----+
 |
 |  describe(self, *cols: Union[str, List[str]]) -> 'DataFrame'
 |      Computes basic statistics for numeric and string columns.
 |
 |      .. versionadded:: 1.3.1
 |
 |      This include count, mean, stddev, min, and max. If no columns are
 |      given, this function computes statistics for all numerical or string columns.
 |
 |      Notes
 |      -----
 |      This function is meant for exploratory data analysis, as we make no
 |      guarantee about the backward compatibility of the schema of the resulting
 |      :class:`DataFrame`.
 |
 |      Use summary for expanded statistics and control over which statistics to compute.
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame(
 |      ...     [("Bob", 13, 40.3, 150.5), ("Alice", 12, 37.8, 142.3), ("Tom", 11, 44.1, 142.2)],
 |      ...     ["name", "age", "weight", "height"],
 |      ... )
 |      >>> df.describe(['age']).show()
 |      +-------+----+
 |      |summary| age|
 |      +-------+----+
 |      |  count|   3|
 |      |   mean|12.0|
 |      | stddev| 1.0|
 |      |    min|  11|
 |      |    max|  13|
 |      +-------+----+
 |
 |      >>> df.describe(['age', 'weight', 'height']).show()
 |      +-------+----+------------------+-----------------+
 |      |summary| age|            weight|           height|
 |      +-------+----+------------------+-----------------+
 |      |  count|   3|                 3|                3|
 |      |   mean|12.0| 40.73333333333333|            145.0|
 |      | stddev| 1.0|3.1722757341273704|4.763402145525822|
 |      |    min|  11|              37.8|            142.2|
 |      |    max|  13|              44.1|            150.5|
 |      +-------+----+------------------+-----------------+
 |
 |      See Also
 |      --------
 |      DataFrame.summary
 |
 |  distinct(self) -> 'DataFrame'
 |      Returns a new :class:`DataFrame` containing the distinct rows in this :class:`DataFrame`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.distinct().count()
 |      2
 |
 |  drop(self, *cols: 'ColumnOrName') -> 'DataFrame'
 |      Returns a new :class:`DataFrame` that drops the specified column.
 |      This is a no-op if schema doesn't contain the given column name(s).
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      cols: str or :class:`Column`
 |          a name of the column, or the :class:`Column` to drop
 |
 |      Examples
 |      --------
 |      >>> df.drop('age').collect()
 |      [Row(name='Alice'), Row(name='Bob')]
 |
 |      >>> df.drop(df.age).collect()
 |      [Row(name='Alice'), Row(name='Bob')]
 |
 |      >>> df.join(df2, df.name == df2.name, 'inner').drop(df.name).collect()
 |      [Row(age=5, height=85, name='Bob')]
 |
 |      >>> df.join(df2, df.name == df2.name, 'inner').drop(df2.name).collect()
 |      [Row(age=5, name='Bob', height=85)]
 |
 |      >>> df.join(df2, 'name', 'inner').drop('age', 'height').collect()
 |      [Row(name='Bob')]
 |
 |  dropDuplicates(self, subset: Optional[List[str]] = None) -> 'DataFrame'
 |      Return a new :class:`DataFrame` with duplicate rows removed,
 |      optionally only considering certain columns.
 |
 |      For a static batch :class:`DataFrame`, it just drops duplicate rows. For a streaming
 |      :class:`DataFrame`, it will keep all data across triggers as intermediate state to drop
 |      duplicates rows. You can use :func:`withWatermark` to limit how late the duplicate data can
 |      be and system will accordingly limit the state. In addition, too late data older than
 |      watermark will be dropped to avoid any possibility of duplicates.
 |
 |      :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = sc.parallelize([ \
 |      ...     Row(name='Alice', age=5, height=80), \

In [ ]:
spark.stop()

In [360]:
%%sh
git add .
git commit -m "update"
git push

On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean

In [183]:
# rdd.getNumPartitions() # num of partitions
# rdd.repartition(8) # change num of partitions
# rdd.coalesce(1) # change num of partitions without shuffling